#main {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    align-items: center;

}

#main > * {
    padding: 50px;
    flex: 1 100%;
}

#main .player-2, #main .player-3 { flex: 1 0 0; }

.name {
    font-size: 18px;
    text-decoration: underline;
    margin: 5px;
}

#main .main {
    flex: 3 0px;
    border: 2px dotted #ccc;
}
.player-2 { order: 1; }
.main    { order: 2; }
.player-3 { order: 3; }
.player-4  { order: 4; }

body {
    padding: 2em;
}